In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [7]:
df_rki = pd.read_csv("http://www.nexolin.de/data/covid-19/rki/rki_data.csv")
df_rki

,Unnamed: 0,Bundesland,confirmed,confirmed_el,extra,date,deaths
0,0,Baden-Württemberg,454,331 (1),NaN,2020-03-12,0
1,1,Bayern,500,317,NaN,2020-03-12,0
2,2,Berlin,137,137,NaN,2020-03-12,0
3,3,Brandenburg,30,23,NaN,2020-03-12,0
4,4,Bremen,38,35,NaN,2020-03-12,0
...,...,...,...,...,...,...,...
206,11,Saarland,40,30,NaN,2020-03-14,0
207,12,Sachsen,83,46,NaN,2020-03-14,0
208,13,Sachsen-Anhalt,42,29,NaN,2020-03-14,0
209,14,Schleswig-Holstein,48,45,NaN,2020-03-14,0
210,15,Thüringen,29,16,NaN,2020-03-14,0