## COVID-19

Our world in data

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

##### Gather data from  https://ourworldindata.org/coronavirus-source-data

In [6]:
df_world = pd.read_csv('https://covid.ourworldindata.org/data/full_data.csv')
df_world

,date,location,new_cases,new_deaths,total_cases,total_deaths
0,2020-02-25,Afghanistan,NaN,NaN,1,NaN
1,2020-02-26,Afghanistan,0.0,NaN,1,NaN
2,2020-02-27,Afghanistan,0.0,NaN,1,NaN
3,2020-02-28,Afghanistan,0.0,NaN,1,NaN
4,2020-02-29,Afghanistan,0.0,NaN,1,NaN
...,...,...,...,...,...,...
2402,2020-03-10,World,4119.0,201.0,113702,4012.0
2403,2020-03-11,World,4611.0,275.0,118319,4292.0
2404,2020-03-12,World,6936.0,317.0,125260,4613.0
2405,2020-03-13,World,7488.0,338.0,132758,4956.0
2406,2020-03-14,World,9766.0,434.0,142539,5393.0

In [8]:
df_world[df_world['location']=='China']

           date location  new_cases  new_deaths  total_cases  total_deaths
414  2020-01-21    China        NaN         NaN          278           6.0
415  2020-01-22    China       32.0         0.0          310           6.0
416  2020-01-23    China      264.0        11.0          574          17.0
417  2020-01-24    China      261.0         8.0          835          25.0
418  2020-01-25    China      462.0        16.0         1297          41.0
419  2020-01-26    China      688.0        15.0         1985          56.0
420  2020-01-27    China      776.0        24.0         2761          80.0
421  2020-01-28    China     1776.0        26.0         4537         106.0
422  2020-01-29    China     1460.0        26.0         5997         132.0
423  2020-01-30    China     1739.0        38.0         7736         170.0
424  2020-01-31    China     1984.0        43.0         9720         213.0
425  2020-02-01    China     2101.0        46.0        11821         259.0
426  2020-02-02    China     2590.0        45.0        14411         304.0
427  2020-02-03    China     2827.0        57.0        17238         361.0
428  2020-02-04    China     3233.0        64.0        20471         425.0
429  2020-02-05    China     3892.0        66.0        24363         491.0
430  2020-02-06    China     3697.0        73.0        28060         564.0
431  2020-02-07    China     3151.0        73.0        31211         637.0
432  2020-02-08    China     3387.0        86.0        34598         723.0
433  2020-02-09    China     2653.0        89.0        37251         812.0
434  2020-02-10    China     2984.0        97.0        40235         909.0
435  2020-02-11    China     2473.0       108.0        42708        1017.0
436  2020-02-12    China     2022.0        97.0        44730        1114.0
437  2020-02-13    China     1820.0       254.0        46550        1368.0
438  2020-02-14    China     1998.0        13.0        48548        1381.0
439  2020-02-15    China     1506.0       143.0        50054        1524.0
440  2020-02-16    China     1120.0       142.0        51174        1666.0
441  2020-02-17    China    19461.0       106.0        70635        1772.0
442  2020-02-18    China     1893.0        98.0        72528        1870.0
443  2020-02-19    China     1752.0       136.0        74280        2006.0
444  2020-02-20    China      395.0       115.0        74675        2121.0
445  2020-02-21    China      894.0       118.0        75569        2239.0
446  2020-02-22    China      823.0       109.0        76392        2348.0
447  2020-02-23    China      650.0        97.0        77042        2445.0
448  2020-02-24    China      220.0       150.0        77262        2595.0
449  2020-02-25    China      518.0        71.0        77780        2666.0
450  2020-02-26    China      411.0        52.0        78191        2718.0
451  2020-02-27    China      439.0        29.0        78630        2747.0
452  2020-02-28    China      331.0        44.0        78961        2791.0
453  2020-02-29    China      433.0        47.0        79394        2838.0
454  2020-03-01    China      574.0        35.0        79968        2873.0
455  2020-03-02    China      206.0        42.0        80174        2915.0
456  2020-03-03    China      130.0        31.0        80304        2946.0
457  2020-03-04    China      118.0        38.0        80422        2984.0
458  2020-03-05    China      143.0        31.0        80565        3015.0
459  2020-03-06    China      146.0        30.0        80711        3045.0
460  2020-03-07    China      102.0        28.0        80813        3073.0
461  2020-03-08    China       46.0        27.0        80859        3100.0
462  2020-03-09    China       45.0        23.0        80904        3123.0
463  2020-03-10    China       20.0        17.0        80924        3140.0
464  2020-03-11    China       31.0        22.0        80955        3162.0
465  2020-03-12    China       26.0        11.0        80981        3173.0
466  2020-03-13    China       10.0         7.0        80991        3180.0
467  2020-03-14    China       30.0        14.0        81021        3194.0