# COVID-19 Vaccinations by manufacturer

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates
%matplotlib inline
sns.set_style('whitegrid')

In [3]:
import matplotlib.pylab as pylab
params = {'legend.fontsize': 'x-large',
          'figure.figsize': (15, 10),
         'axes.labelsize': 'x-large',
         'axes.titlesize':'x-large',
         'xtick.labelsize':'x-large',
         'ytick.labelsize':'x-large'}
pylab.rcParams.update(params)

#### Gather data from https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations-by-manufacturer.csv

In [8]:
df_world = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations-by-manufacturer.csv', parse_dates=['date']).set_index(['location', 'date']).sort_index()
df_world

                                  vaccine  total_vaccinations
location      date
Chile         2020-12-24  Pfizer/BioNTech                 420
              2020-12-25  Pfizer/BioNTech                5198
              2020-12-26  Pfizer/BioNTech                8338
              2020-12-27  Pfizer/BioNTech                8649
              2020-12-28  Pfizer/BioNTech                8649
...                                   ...                 ...
United States 2021-03-25          Moderna            62877755
              2021-03-25  Pfizer/BioNTech            67555076
              2021-03-26  Johnson&Johnson             2863246
              2021-03-26          Moderna            64313721
              2021-03-26  Pfizer/BioNTech            69368232

[1884 rows x 2 columns]

In [10]:
df_world.index.get_level_values(0).unique()

Index(['Chile', 'Czechia', 'Germany', 'Iceland', 'Italy', 'Latvia',
       'Lithuania', 'Romania', 'United States'],
      dtype='object', name='location')

In [12]:
df_world.groupby(['location', 'vaccine']).last()

                                  total_vaccinations
location      vaccine
Chile         Pfizer/BioNTech                 933055
              Sinovac                        8711960
Czechia       Moderna                         136231
              Oxford/AstraZeneca              209024
              Pfizer/BioNTech                1215664
Germany       Moderna                         515209
              Oxford/AstraZeneca             2377168
              Pfizer/BioNTech                9471062
Iceland       Moderna                           6713
              Oxford/AstraZeneca                9318
              Pfizer/BioNTech                  44335
Italy         Moderna                         443212
              Oxford/AstraZeneca             1682439
              Pfizer/BioNTech                7085242
Latvia        Moderna                          16993
              Oxford/AstraZeneca               71972
              Pfizer/BioNTech                  37327
Lithuania     Moderna                          36406
              Oxford/AstraZeneca              100652
              Pfizer/BioNTech                 337903
Romania       Moderna                         200231
              Oxford/AstraZeneca              318056
              Pfizer/BioNTech                2273184
United States Johnson&Johnson                2863246
              Moderna                       64313721
              Pfizer/BioNTech               69368232